.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  max-height: 550px;
  overflow-y: scroll;
}

.tableInner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
}
